<!-- search field -->
<div class="container">
<div id="search-bar-wrapper">
    <form (keyup)="searchBooks(searchValue)">
        <input type="text" class="form-control" name="searchValue" placeholder="Search by Title" [(ngModel)]="searchValue" autocomplete="off">
        <button class="btn btn-sm btn-dark" (click)="searchBooks(searchValue)">search</button>
    </form> 
</div>

<app-delete-all-books-modal></app-delete-all-books-modal>
<br>

<div *ngIf="searchValue.length > 0">
        <h5 class="font-weight-light" style="color: red">Search Results For:- {{ searchValue }} </h5>
        <small style="color: #333; font-weight: bold">
            <span>{{this.books.length}}</span>
            <span *ngIf="this.books.length == 1;"> Book</span>
            <span *ngIf="this.books.length > 1"> Books </span>
             Found
        </small>
</div>

<div id="table-wrapper" class="table-responsive">
<table class="table table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>Availability</th>
            <th>Checked In By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; index as i">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publishedDate }}</td>
            <td>{{ book.available }}</td>
            <td>{{ book.checkOutBy }}</td>
            <td>
                <button class="btn btn-sm btn-warning m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" [id]="bookIds[i]" (click)="getDataAndUpdate(i)">edit</button>
                <button type="button" class="btn btn-sm btn-danger m-2" (click)="deleteBook(i)" data-bs-toggle="modal" data-bs-target="#deleteBookModal">delete</button>
            </td>
        </tr>
        <!-- <app-table-row [booksArray]="books"></app-table-row> -->
    </tbody>
</table>

</div>

</div>




<!-- Modal  FOR UPDATING A BOOK-->
<div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group m-3">
                        <input type="text" class="form-control" name="title" [(ngModel)]="bookToBeUpdated.title" placeholder="Book Title" required />
                    </div>

                    <div class="form-group m-3">
                        <input type="text" class="form-control" name="author" [(ngModel)]="bookToBeUpdated.author" placeholder="Book Author" required />
                    </div>

                    <div class="form-group m-3">
                        <input type="text" class="form-control" name="publishedDate" [(ngModel)]="bookToBeUpdated.publishedDate" placeholder="Date of Publish" required />
                    </div>

                    <div class="form-group m-3">
                        <select name="available" class="form-select" [(ngModel)]="bookToBeUpdated.available" required>
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable </option>
                        </select>
                    </div>

                    <div class="form-group m-3">
                        <input type="text" name="checkOutBy" class="form-control" [(ngModel)]="bookToBeUpdated.checkOutBy" placeholder="checked out by" required />
                    </div>
                    <button class="btn btn-md btn-success" [id]="currentBookId" (click)="updateNow(currentBookId, bookToBeUpdated)" data-bs-toggle="modal" data-bs-target="#deleteBookModal">update book</button>
                </form>
            </div>
   
        </div>
    </div>
</div>




<!-- MODAL TO CONFIRM WHEN DELETING A BOOk  -->

  <!-- Modal -->
  <div class="modal" tabindex="-1" id="deleteBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have successfully deleted a book</p>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary btn-md m-4" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close" (click)="refreshAfterBookAction()">Ok</button>
            </div>
        </div>
    </div>
  </div>



<!-- MODAL TO CONFIRM WHEN EDITING A BOOk  -->

  <!-- Modal -->
  <div class="modal" tabindex="-1" id="editBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Successful update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have successfully update book information</p>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary btn-md m-4" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close" (click)="refreshAfterBookAction()">Ok</button>
            </div>
        </div>
    </div>
  </div>



