#table-wrapper {
  height: 500px;
  overflow-y: auto;
}

#search-bar-wrapper {
  margin: 10px 0;
}

#search-bar-wrapper input[type="text"] {
  margin-bottom: 10px;
}



thead {
  /* background-color: rgb(136, 134, 134); */
}

table tr {
  text-align: center;
}
table td {
  text-align: center;
  color: rgb(31, 30, 30);
  font-weight: 700;
}


.modal-content {
  background-color: rgb(255, 252, 226);
}