<section>
<div class="container mt-4">
    <div class="card">
        <h5 class="card-header" style="background-color: rgb(0, 0, 0, 0.2);">Add New Book</h5>
        <div class="card-body">
            <form class="row g-3">

                <div class="col-md-6">
                  <label for="text" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" [(ngModel)]="book.title" required>
                </div>
                <div class="col-md-6">
                  <label for="author" class="form-label">Author</label>
                  <input type="text" class="form-control" name="author" [(ngModel)]="book.author" autocomplete="off" required>
                </div>
                
                
                <div class="col-md-4">
                  <label for="date" class="form-label">Published Date</label>
                  <input type="date" class="form-control" name="publishedDate" [(ngModel)]="book.publishedDate" required> 
                </div>

                <div class="col-md-4" hidden>
                  <label for="inputState" class="form-label"></label>
                  <select name="available" class="form-select" [(ngModel)]="book.available" required>
                    <option selected value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                  </select>
                </div>

                <div class="col-4">
                  <label for="checked" class="form-label">Checked In By</label>
                  <input type="string" class="form-control" name="checkOutBy" placeholder="Enter Your Name" [(ngModel)]="book.checkOutBy" autocomplete="off" required>
                </div>
        
                <div class="col-12">
                  <button type="submit" class="btn btn-secondary" (click)="saveBook()">Create</button>
                </div>
              </form>
        </div>
</div>
</div>
</section>








