<div class="container mt-4">
    <div class="card">
        <h5 class="card-header" style="background-color: rgb(0, 0, 0, 0.2);">Add New Book</h5>
        <div class="card-body">
            <form class="row g-3">

                <div class="col-md-6">
                  <label for="text" class="form-label">Title</label>
                  <input type="text" class="form-control" id="text">
                </div>
                <div class="col-md-6">
                  <label for="author" class="form-label">Author</label>
                  <input type="text" class="form-control" id="author">
                </div>
                <div class="col-4">
                  <label for="checked" class="form-label">Checked Out By</label>
                  <input type="email" class="form-control" id="inputAddress" placeholder="lindo@gmail.com">
                </div>
                
                <div class="col-md-4">
                  <label for="date" class="form-label">Published Date</label>
                  <input type="date" class="form-control" id="date">
                </div>

                <div class="col-md-4">
                  <label for="inputState" class="form-label">Status</label>
                  <select id="inputState" class="form-select">
                    <option selected>Available</option>
                    <option>Unavalable</option>
                  </select>
                </div>
        
                <div class="col-12">
                  <button type="submit" class="btn btn-secondary">Create</button>
                </div>
              </form>
        </div>
</div>