<section>
<div class="container mt-4">
    <div class="card">
        <h5 class="card-header" style="background-color: rgb(0, 0, 0, 0.2);">Add New Book</h5>
        <div class="card-body">
            <form class="row g-3">

                <div class="col-md-6">
                  <label for="text" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" [(ngModel)]="book.title" #title="ngModel" autocomplete="off" required>
                </div>
                <div class="col-md-6">
                  <label for="author" class="form-label">Author</label>
                  <input type="text" class="form-control" name="author" [(ngModel)]="book.author" #author="ngModel" autocomplete="off" required>
                </div>
                
                
                <div class="col-md-4">
                  <label for="date" class="form-label">Published Date</label>
                  <input type="date" class="form-control" name="publishedDate" [(ngModel)]="book.publishedDate" #publishedDate="ngModel" autocomplete="off" required>
                </div>

                <div class="col-md-4" hidden>
                  <label for="inputState" class="form-label"></label>
                  <select name="available" class="form-select" [(ngModel)]="book.available" required>
                    <option selected value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                  </select>
                </div>

                <div class="col-4">
                  <label for="checked" class="form-label">Checked In By</label>
                  <input 
                    type="string" 
                    class="form-control" 
                    name="checkOutBy" placeholder="Enter Your Name" 
                    [(ngModel)]="book.checkOutBy" 
                    autocomplete="off" #checkOutBY="ngModel" required>
                </div>
        
                <div class="col-12">
                  <div *ngIf="book.title.slice(0,1) != ' ' && book.author.slice(0,1) != ' ' && book.publishedDate.slice(0,1) != ' ' && book.available.slice(0,1) != ' ' && book.checkOutBy.slice(0,1) != ' '; else showDisabledBtn ">
                      <button type="submit" 
                      class="btn btn-secondary" 
                      (click)="saveBook()" 
                      data-bs-toggle="modal" 
                      data-bs-target="#exampleModal" 
                      [disabled]="title.invalid || author.invalid || publishedDate.invalid || checkOutBY.invalid">Create</button>
                  </div>

                  <ng-template #showDisabledBtn>
                      <button class="btn btn-secondary" disabled>Create</button>
                  </ng-template>
                </div>
              </form>
        </div>
</div>
</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
      </div>
      <div class="modal-body">
        Book successfully added
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refreshComponent()">Ok</button>
      </div>
    </div>
  </div>
</div>
